*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: serif;
    width: 100%;
    height: 100vh;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-Section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #fff9f9;
    border-radius: 10px;
}
.my-Section .wrapper{
    margin: 0 auto;
    display: flex;
    width: 680px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.my-Section .images-container{
    width: 480px;
    height: 480px;
    overflow: hidden;
}
.my-Section .wrapper .button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: #eee;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 25px;
    position: relative;
    z-index: 15;
    background: #313fc2;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.my-Section .button:hover{
    background: #091688;
    color: white;
}
.my-Section .button:active,
.my-Section .button:focus{
    transform: scale(1.1);
}
.my-Section .images-container .carousel{
    display: flex;
    transition: all 0.5s;
}
.my-Section .images-container .carousel img{
    max-width: 100%;
    user-select: none;
    padding: 10px;
    border-radius: 30px;
}
.my-Section ul{
    list-style: none;
    display: flex;
}
.my-Section ul li{
    background: #eee;
    padding: 15px;
    margin: 25px 10px;
    transition: all 0.3s;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
}
.my-Section ul li:hover,
.my-Section ul li.active{
    background: #0a1256;
    color: white;
}